<h1>New product</h1>

<%= form_tag(fetch_product_price_products_path, method: :post) do %>
  <label for="entity_id">Entity ID:</label>
  <%= text_field_tag(:entity_id, nil, required: true) %>
  <%= submit_tag('Fetch Price') %>
<% end %>

<br>
<%= turbo_frame_tag dom_id(@product) do %>
<%= render "form", product: @product %>
<% end %>


<div id="new_product">
    z
    <% if @product_name && @product_price %>
    <h2>Product Name: <%= @product_name %></h2>
    <h2>Product Price: <%= @product_price %></h2>
    <% end %>
</div>



<div>
  <%= link_to "Back to products", products_path %>
</div>






